<p>
<h1>Diets:</h1>
<ul>
    {{#each diets as |diet|}}
    <li><a href="/{{diet.dietName}}">{{diet.dietName}}</a></li>
    {{/each}}
</ul>
<form method = "POST" action="/">
<label id="diet">I'm having a new diet:</label>
<input id="diet" type="text" name="dietName" value="">
<input type="submit" value="Add">
</form>
</p>