<div class="position-absolute top-50 start-50 translate-middle" id="main">
    <form method="POST" action="/" class="row g-3">
        <div class="input-group input-group-lg">
            <label for="diet" class="input-group-text">Diet Name</label>
            <input class="form-control w-50" id="diet" type="text" required name="dietName" value=""
                placeholder="breakfast">
            <input type="submit" value="Add" class="btn btn-warning form-control btn-sm" id="submit">
        </div>
    </form>
    <div id="alert">
    </div>
</div>