<style>
    .block {
        background: rgba(255, 255, 255, 0.6)
    }
</style>
<div class="container position-absolute top-50 start-50 translate-middle w-50 block">
    <h1>
        I have taken <b>{{count}}</b> diet(s). My total calorie intake for is <b>{{intake}}</b>kcal.
    </h1>
</div>