<!DOCTYPE html>
<html>
	<link rel="icon" href="data:,">
	<head>
		<meta charset="UTF-8">
		<title>Calorie Tracker</title>
	</head>
	<h1>Calorie Tracker</h1>
	<body></body>	
		{{{body}}}
	</body>
	<div class="footer">
		<ul>
			<a href="/">home page</a>
		</ul>
	</div>
</html>