<p>
<form method="POST" action="/new_diet">
    <div>
        <div>name<input type="text" name="dietName" value="">
        </div>
        <label>food</label>
        <input type="text" name="food" value="">
        <div>quantity<input type="text" name="quantity" value="">
        </div>
        <label>unit</label>
        <input type="text" name="quantity" value="">
        {{!-- <div><input type="submit" value="Add To Diet"></div> --}}
    </div>
    <div><input type="submit" value="Add To Today"></div>
</form>
</p>