<body>
    <script type="module" src="/main.js">
    </script>
    <h2>You are having: {{ dietName }}</h2>
    <p id="foodList"></p>

    <label>food: </label>
    <select id="food">
        <option value="chicken g">chicken g</option>
        <option value="beef g">beef g</option>
        <option value="pork g">pork g</option>
        <option value="lettuce g">lettuce g</option>
        <option value="tomatoes g">tomatoes g</option>
        <option value="potatoes g">potatoes g</option>
        <option value="spanich g">spanich g</option>
    </select>

    <label>quantity: </label>
    <input type="number" id="quantity" value="1" min="1"><br>

    <button type="button" id="dietBtn">Add to diet</button>
    <div>
        <button onclick="location.href='/';" id="todayBtn">Add to Today</button>
    </div>

</form>
</body>