<p>
<form method="POST" action="/new_diet">
    <div>
        <h2>You are having: {{dietName}}</h2>
        <ul>
        {{#each foods as |food|}}
        <li>{{food.quantity}} {{food.unit}} {{food.foodName}}</li>
        {{/each}}
        </ul>
        <label for="food">food: </label>
        <select id="food" name="food">
            <option value="hamburger">hamburger</option>
            <option value="milk">milk</option>
            <option value="bread">bread</option>
            <option value="chicken">chicken</option>
            <option value="beef">beef</option>
            <option value="pork">pork</option>
            <option value="lettuce">lettuce</option>
            <option value="tomatoes">tomatoes</option>
            <option value="potatoes">potatoes</option>
            <option value="cola">cola</option>
        </select>

        <label for="number">quantity: </label>
        {{!-- min="1" is client side validation --}}
        <input type="number" id="number" name="quantity" value="1" min="1"><br>

        <p>unit:</p>
        {{!-- required is client side validation --}}
        <input type="radio" id="unit" name="unit" required value="g">
        <label for="unit">g</label><br>
        <input type="radio" id="unit" name="unit" required value="ml">
        <label for="unit">ml</label><br>
        <input type="radio" id="unit" name="unit" required value="/">
        <label for="unit">/</label><br>
       
    </div>
    <div><input type="submit" value="Add To Today"></div>
</form>
</p>