<div class="container position-absolute top-50 start-50 translate-middle w-25 input-group" id="bar" style="background-color: rgba(255, 255, 255, 0.6)">
    <script type="module" src="/search.js">
    </script>
    <input class="form-control" type="text" id="content" placeholder="apple">
    <button class="btn btn-warning btn-lg" type="button" onclick="this.disabled=true;">search</button>
    <p class="text-secondary">Enter the food you want to search for, and then five of its nutrients will be displayed. It may take some time to load. If food is not found, refresh the page.</p>
</div>
<style>
    .block {
        background: rgba(255, 255, 255, 0.6);
        display: none;
    }
</style>
<div class="container position-absolute top-50 start-50 translate-middle w-50 block">

    <ul id="nutritionList" class="list-unstyled">

    </ul>

    <img src="" />
</div>